<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <!-- 设置页面的视口，让页面根据设备的宽度来自动缩放页面，让移动设备拥有更好的浏览体验 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s Watchlist</title>



    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>

<body>

    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}

    <h2>
        <img alt="sweet" class="tang" src="{{ url_for('static', filename='images/740.jpg') }}">
        {{ user.name }}'s Watchlist
    </h2>

    <button id="back-to-top">Back to Top</button>
    <button id="dark-mode-toggle">Dark Mode</button>
    <script>

        // 页面加载时检查夜间模式状态
        if (localStorage.getItem('darkMode') === 'true') {
            document.body.classList.add('dark-mode');
        }

        // 切换夜间模式
        document.getElementById('dark-mode-toggle').onclick = function () {
            document.body.classList.toggle('dark-mode');

            // 保存夜间模式状态到 localStorage
            if (document.body.classList.contains('dark-mode')) {
                localStorage.setItem('darkMode', 'true');
            } else {
                localStorage.setItem('darkMode', 'false');
            }
        };

        document.getElementById('back-to-top').onclick = function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        };

    </script>

    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>

            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            <li><a href="{{ url_for('actors') }}">Actors</a></li>
            <li><a href="{{ url_for('movie_actor_relations') }}">Movie Actor Relations</a></li>
            <li><a href="{{ url_for('movie_boxes') }}">Movie Boxes</a></li>
            <li><a href="{{ url_for('movies_with_box_office') }}">Box Office Analysis</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
    </footer>
</body>

</html>