{% extends 'base.html' %}

{% block content %}
<h2>{{ movie.title }} ({{ movie.year }})</h2>
<h3>Release Date: {{ movie.release_date }}</h3>
<h3>Country: {{ movie.country }}</h3>
<h3>Genre: {{ movie.genre }}</h3>

<h3>Actors 演员</h3>
<ul>
    {% for actor_relation in actors %}
    <li>{{ actor_relation.actor.name }} - {{ actor_relation.relation_type }}</li>
    {% endfor %}
</ul>

{% if box_office %}
<h3>Box Office 票房</h3>
<p>{{ box_office.box }}</p>
{% endif %}

<!-- 编辑按钮 -->
<a href="{{ url_for('edit', movie_id=movie.id) }}" class="btn">Edit</a>


<!-- 留言板 -->
<h2>Comments</h2>
<form method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title"><br>
    <label for="content">Content:</label>
    <textarea name="content" id="content"></textarea><br>
    <label for="user_id">User ID:</label>
    <input type="text" name="user_id" id="user_id"><br>
    <input type="submit" value="Add Comment">
</form>

<ul>
    {% for comment in comments %}
    <li>{{ comment.title }} by {{ comment.user_id }}: {{ comment.content }}
        <a href="{{ url_for('delete_comment', comment_id=comment.id) }}">Delete</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}