{% extends 'base.html' %}

{% block content %}
<h2>{{ movie.title }} ({{ movie.year }})</h2>
<h3>Release Date: {{ movie.release_date }}</h3>
<h3>Country: {{ movie.country }}</h3>
<h3>Genre: {{ movie.genre }}</h3>

<h3>Actors 演员</h3>
<ul>
    {% for actor_relation in actors %}
    <li>{{ actor_relation.actor.name }} - {{ actor_relation.relation_type }}</li>
    {% endfor %}
</ul>

{% if box_office %}
<h3>Box Office 票房</h3>
<p>{{ box_office.box }}</p>
{% endif %}

<!-- 编辑按钮 -->
<a href="{{ url_for('edit', movie_id=movie.id) }}" class="btn">Edit</a>


{% endblock %}